<div>
	<h1>
		<span class="label label-primary">Name:</span>
		
	
	<!-- data-bind to the input element; store value in yourName -->
	<span> <input type="text" [(ngModel)]="yourName" placeholder="Enter a name here"></span>	
	<hr>
	<!-- conditionally display yourName -->
	<h1 [hidden]="!yourName">Hello {{yourName}}!</h1>
	</h1>
	
	<div  *ngIf='yourName == "Mariusz"'>
		<second-component></second-component>		
	</div>
<div>